<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <!-- our css should below over other css link -->
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1>Contact List</h1>
    <div>
      <ul>
        <% for(let i of contacts_list){ %>

        <li>
          <p><%=i.name%></p>
          <p><%=i.phone%></p>
        </li>

        <div class="delete-button">
          <a href="">
            <i class="fas fa-window-close"></i>
          </a>
        </div>

        <% } %>
      </ul>
    </div>

    <form action="/create-contact" method="post">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your Name.."
        required
      />
      <input
        type="number"
        name="phone"
        id="phone"
        placeholder="Enter your phone.."
        required
      />
      <button id="submit" type="submit">Add</button>
    </form>
    <script src="/js/home.js"></script>
  </body>
</html>
