<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1>Hello I am from practice playground</h1>

    <!-- for loop -->
    <ul>
      <% for(let i=0;i<5;i++){ %>
      <li><%=i%></li>
      <% } %>
    </ul>

    <!-- conditional statement -->
    <!-- if -->
    <% if(true){ %>
    <h3>You can cast the vote</h3>
    <% } %>

    <!-- if-else -->
    <% if(true){ %>
    <h3>I am True</h3>
    <% } else{%>
    <h3>I am False</h3>
    <% } %>
  </body>
</html>
